<h2>Heatmap</h2>

{{board-heatmap world=world onHoverCell=(action "setFocusedPoint")}}

{{#with focusedPoint as |point|}}
  <p><b>Position:</b> ({{point.x}}, {{point.y}})</p>
  <p><b>Value:</b> {{point.value}}</p>
{{/with}}

<h3>JSON Input</h3>

{{#if invalidWorldJson}}
  <p>Invalid JSON.</p>
{{/if}}

<p>
  {{textarea value=worldJson cols="60" rows="8"}}
</p>
